<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/_header'); %>
    </header>
    <main>
      <h3>Create TinyURL</h3>
      <form class="form-inline" action="/new" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </main>
    <footer>
      <%- include('../partials/_footer'); %>
    </footer>
  </body>
</html>